@model SistemaWeb.Models.Cancha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cancha</h4>
    <hr />
    <link href="~/css/estilo.css" rel="stylesheet" />

    <div class="col-md-4 " style="text-align:center">
        <div class="col-4 col-sm-4" >
            @if(Model.Foto !=null)
            {
                <img src="~/fotos/@Model.Foto" class=" img-thumbnail" width="180px" />
            }
        </div>
        <div class="col-4 col-sm-4"> </div>
  
 
       <dl class="row">
        

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_Cancha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_Cancha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
      </dl>
    </div>
</div>
<div class="volve">
    
    <a asp-action="Index">Volver</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
</div>

