@model IEnumerable<SistemaWeb.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;font-weight:700;color:aliceblue;margin-top:18px; font-family:'Times New Roman';">Lista de Canchas</h1>

<p>
    <a asp-action="Create" >Registrar Cancha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Cancha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr class="modi">
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Cancha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>


        </tr>
}

        <style>

            .table{
                background-position:center;
                text-align:center;
                margin-top:auto ;
                backdrop-filter:contrast(0.17);
            }

        </style>
   </tbody>
</table>
