@model IEnumerable<SistemaWeb.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de canchas</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="capacidad">
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Cancha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esta_Ocupado)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (item.Foto != null)
                    {
                        <img src="~/fotos/@item.Foto" class="img-thumbnail" width="130px" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Cancha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esta_Ocupado)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}

        <style>
             p{
                 font-size:20px;
                 margin-padding:10px;
                 width:100px;
                 height:50px;
                 text-align:center;
                 font-family:'Times New Roman', Times, serif;
                 border-radius:50px;
                 background-color:#aadd88;
                 color:black;
             }
             h1{
                 font-family:'Times New Roman', Times, serif;
                 text-align:center;
                 color:blue
                 
             }
        </style>
    </tbody>
</table>
