@model IEnumerable<SistemaWeb.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;font-weight:700;color:aliceblue;margin-top:18px; font-family:'Times New Roman';">Lista de Canchas</h1>

<p class="parrafo" >
    <a asp-action="Create" style="color:white;">Registrar Cancha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Cancha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>  Opciones </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr class="modi">
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Cancha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
              
                <div class="col-4 col-sm-4"> </div>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="editar">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="editar">Eliminar</a>
            </td>
        </tr>
}    
   </tbody>
</table>
<style>
    .editar{
        border: 7px solid forestgreen;
        border-radius:8px;
        width:100px;
        height:40px;
        background-color:forestgreen;
        color:white;

    }
  

    .parrafo {
        width: 180px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
        margin: 0 40px;
      
        border: solid 2.5px #ffff;
        background-color: #2a802c;
        
    }
    .table {
        background-position: center;
        text-align: center;
        margin-top: auto;
        backdrop-filter: contrast(0.17);
    }


</style>