@model SistemaWeb.Models.Alquiler


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/print.css" rel="stylesheet" />
    <script src="~/js/qr.min.js"></script>
    <div id="qrcode"></div>

</head>

<body style="text-align:center" onload="window.print();" onafterprint="history.back()">
        <h1>RECIBO</h1>
        <h4>Numero:   @Html.DisplayFor(model => model.Numero_Recibo)</h4>

        <hr />

    <div>
        <p>
            Fecha:  @Html.DisplayFor(model => model.Fecha)
        </p>
            
        <p>
            CI:  @Html.DisplayFor(model => model.Cliente.InfoClienteCI)
        </p>
        <p>
            Nombre:  @Html.DisplayFor(model => model.Cliente.InfoClienteNombre)
        </p>

        <p>
            Telefono:  @Html.DisplayFor(model => model.Cliente.InfoClienteTelefono)
        </p>


       </div>
       <div>
       
        <h5>Datos de la cancha</h5>
        <p>
            Cancha:  @Html.DisplayFor(model => model.Cancha.InfoCanchaNum)
        </p>
        <p>
            Fecha:  @Html.DisplayFor(model => model.Fecha)
        </p>

        <p>
            Hora:  @Html.DisplayFor(model => model.Cantidad_Hora)
        </p>
        <p>
            Desde:  @Html.DisplayFor(model => model.Desde) 
        </p>
        <p>
            Hasta @Html.DisplayFor(Model => Model.Hasta)
        </p>
      
        <p>
            Costo:  @Html.DisplayFor(model => model.Costo_Total)
        </p>
           

            <small>ususario:  @Html.DisplayFor(model => model.Usuario.Email)</small>
        </div>


        <div style="margin-top: 20px; width:80%">
            <div id="qrcode"></div>
        </div>

        @{
        string codigoQR = String.Format("Numero de recib: {0}  |Fecha: {1}|Identidad: {2}|Nombre: {3}|Telefono: {4}|Desde {5}|{6}| Hasta {7}|Costo Total:{8} Bs",
            Model.Numero_Recibo,
            Model.Fecha,
            Model.Cliente!.Ci,
            Model.Cliente!.Nombre,
            Model.Cliente!.Telefono,  
            Model.Desde,
            Model.Hasta,
            Model.Cantidad_Hora,
            Model.Costo_Total
           
            );
        }

        <script>
            var qrcode = new QRCode("qrcode", {
                text: "@codigoQR",
                width: 100,
                height: 100
            });
        </script>


    </body>
</html>
