@model IEnumerable<SistemaWeb.Models.Alquiler>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;font-weight:700;color:aliceblue; margin-top:18px; font-family:'Times New Roman';">Lista de Alquiler / Reserva</h1>

<p class="parrafo">
    <a asp-action="Create" style="color:white;">Crear Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Recibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancha)
            </th>
            <th> Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Recibo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancha.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id" class="editar">Elimiar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="editar">Generar Recibo</a> 
            </td>
        </tr>
}
<style>

            .table {
                background-position: center;
                text-align:center;
                margin:auto ;
                backdrop-filter: contrast(0.15);
            }

            .editar {
                border: 7px solid forestgreen;
                border-radius: 8px;
                width: 100px;
                height: 40px;
                background-color: forestgreen;
                color: white;
            }

            .parrafo {
                width: 180px;
                height: 40px;
                border-radius: 15px;
                text-align: center;
                margin: 0 40px;
                border: solid 2.5px #ffff;
                background-color: #2a802c;
        </style>
                
    </tbody>
</table>
