@model IEnumerable<SistemaWeb.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;font-weight:700;color:aliceblue;margin-top:18px; font-family:'Times New Roman';"> Lista de Clientes</h1>

<p>
    <a asp-action="Create">Registrar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}

        <style>

            .table {
                background-position: center;
               
                text-align: center;
                margin-top: 50px;
                backdrop-filter: contrast(0.15);
            }
        </style>
    </tbody>
</table>
