@model SistemaWeb.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}
<h1 style="text-align:center;text-size-adjust:20px;font-family:'Times New Roman'; color:white;">Eliminar Usuario</h1>

<h3 style="text-align:center;backdrop-filter:contrast(0.2);font-family:'Times New Roman'; color:red;">
    ¿Estás seguro que quieres eliminar esto?
</h3>
<div class="col-md-4">
    <h4 style="text-align:center"> Usuario</h4>
    <hr />
    <dl class="row" style="text-align:center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn" /> |
       
    </form>
</div>
<div class="volver">
    <a asp-action="Index">Volver</a>
</div>
<style>
    body {
    }

    .col-md-4 {
        background-position: center;
        border-radius: 25px;
        margin: auto;
        backdrop-filter: contrast(0.17);
    }

    .volver {
        width: 97px;
        height: 40px;
        text-align: center;
        border: 3px solid black;
        border-radius: 15px;
        background-color: #ffbb00;
        margin: -60px 200px;
        text-decoration: none;
    }



    .modificar {
        width: 100%;
        height: 60px;
    }

    .btn {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        background-color: #0b4c8a;
    }

    .parrafo {
        width: 180px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
        margin: 0 40px;
        border: solid 2.5px #ffff;
        background-color: #84fa16;
    }
</style>